/* Header.css
.header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  } */


  /* Header.css */

  
  
/* Sidebar.css */
  .sidebar {
    background-color: #f4f4f4;
    width: 200px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px 20px;
  }
  
  .sidebar ul li a {
    color: #1687a7;
    text-decoration: none;
  }
  
  .sidebar ul li:hover {
    background-color: #c7f3ff;
  }
  


 